// Primary

$grayishBlue: hsl(237, 18%, 59%);
$softRed: hsl(345, 95%, 68%);

// Neutral

$white: hsl(0, 0%, 100%);
$darkDesaturatedBlue: hsl(236, 21%, 26%);
$veryDarkBlue: hsl(235, 16%, 14%);
$veryDarkMostlyBlackBlue: hsl(234, 17%, 12%);

$flipTime: .2s;
$perspective: 150px;
$paperHole: 0.35rem;
$borderRadius: 0.5rem;
