@import "../styles/variables";

.SocialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: $grayishBlue;
  &:hover {
    color: $softRed;
  }
}